.header {
	background: linear-gradient(180deg, #f4f4f4 0%, #e2e2e2 100%);
	&__container {
		max-width: 846px;
		margin: 0 auto;
		padding: 0 20px;
		margin-top: 32px;
	}

	&__inner {
		background: #fff;
	}

	&__mobile-wrapper {
		display: none;

		@media screen and (max-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
		@media screen and (max-width: 554px) {
			display: none;
		}
	}
}
.menu-toggle {
	padding: 25px 24px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--white);
	display: flex;
	align-items: center;
	background: linear-gradient(211deg, #e25f32 0%, #d34e20 100%);
	width: max-content;
	gap: 10px;
	white-space: nowrap;
	&__burger {
		display: flex;
		flex-direction: column;
		gap: 2px;

		width: 15px;
		span {
			width: 100%;
			display: block;
			border: 1.5px solid #fff;
		}
	}
}
.phone-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 12px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	text-align: right;
	color: #1f1f1f;
}

.menu {
	display: flex;
	align-items: center;
	gap: 40px;
	@media screen and (max-width: 992px) {
		gap: 20px;
	}
	@media screen and (max-width: 768px) {
		display: none;
	}

	font-family: var(--font-family);
	&__link {
		font: inherit;
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		color: var(--gray);
		text-decoration: none;
		&_active {
			text-decoration: underline;
			text-decoration-skip-ink: none;
			color: #f06536;
		}
		&_primary {
			display: block;
			padding: 25px 24px;
			background: linear-gradient(211deg, #e25f32 0%, #d34e20 100%);
			color: var(--white);
			transition: scale 100ms ease-in-out;
			@include hover {
				scale: 0.97;
			}
		}
	}
}
