<div class="products">
	<div class="product-card">
		<img
			src="https://images.unsplash.com/photo-1682687220566-5599dbbebf11?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8"
			alt="#"
			class="product-card__img"
		/>
		<div class="product-card__info">
			<a href="#" class="product-card__title">Cialis</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Tadalafil</span>
			</div>
			<p class="product-card__price">
				<span>$1.00</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
	<!-- 2 -->
	<div class="product-card">
		<img src="#" alt="#" class="product-card__img" />
		<div class="product-card__info">
			<a href="#" class="product-card__title">Levitra</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Vardenafil</span>
			</div>
			<p class="product-card__price">
				<span>$0.94</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
	<!-- 3 -->
	<div class="product-card">
		<img src="#" alt="#" class="product-card__img" />
		<div class="product-card__info">
			<a href="#" class="product-card__title">Amoxil</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Amoxicillin</span>
			</div>
			<p class="product-card__price">
				<span>$0.39</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
	<!-- 4 -->
	<div class="product-card">
		<img src="#" alt="#" class="product-card__img" />
		<div class="product-card__info">
			<a href="#" class="product-card__title">Lasix</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Furosemide</span>
			</div>
			<p class="product-card__price">
				<span>$0.56</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
	<!-- 5 -->
	<div class="product-card">
		<img src="#" alt="#" class="product-card__img" />
		<div class="product-card__info">
			<a href="#" class="product-card__title">Acillin</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Ampicillin</span>
			</div>
			<p class="product-card__price">
				<span>$1.00</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
	<!-- 6 -->
	<div class="product-card">
		<img src="#" alt="#" class="product-card__img" />
		<div class="product-card__info">
			<a href="#" class="product-card__title">Viagra</a>
			<div class="product-card__ingredient">
				<span>Active ingredient:</span>
				<span class="text-green">Sildenafil</span>
			</div>
			<p class="product-card__price">
				<span>$0.34</span>
				<span>for pill</span>
			</p>
			<a href="#" class="product-card__link">
				<span class="product-card__icon-wrapper">
					<svg class="product-card__icon">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
				</span>
				<span>buy now</span>
			</a>
		</div>
	</div>
</div>
