<footer class="footer">
	<div class="footer__container container">
		<ul class="menu list-reset">
			<li class="menu-item">
				<a href="#" class="menu-link border-bottom-line">Privacy Policy</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link border-bottom-line">Return Policy</a>
			</li>
			<li class="menu-item">
				<a href="#" class="menu-link border-bottom-line"
					>Shipping and delivery</a
				>
			</li>
		</ul>
		<div class="footer__copy">
			© 2024. Trustpharmacy.shop. All Rights Reserved.
		</div>
	</div>
</footer>
