<div class="hero visually-hidden">
	<div class="hero__inner">
		<div class="hero__top">
			<img
				width="325"
				height="57"
				src="./assets/img/svg/logo.svg"
				alt="Trust Pharmacy"
				class="hero__logo"
			/>
			<div class="hero__links">
				<a href="tel:+17184879792" class="phone-link">
					<span class="text-red">Toll-Free phone:</span>
					<span>+1 718 487 9792</span>
				</a>
				<a href="tel:+17184879792" class="phone-link">
					<span class="text-red">Customer support email:</span>
					<span>+1 718 487 9792</span>
				</a>
			</div>
		</div>
		<!--  -->
		<div class="hero__middle">
			<div class="hero__middle-inner">
				<img
					width="414"
					height="87"
					src="./assets/img/hero-tablets.png"
					class="hero__tablets"
				/>
				<div class="hero__price-wrapper">
					<div class="hero__price">$67.99</div>
					<a href="#" class="hero__link">try ed advanced pack</a>
				</div>
			</div>
		</div>
		<!--  -->
		<div class="hero__bot">
			<div class="advantage-item">
				<img
					width="37"
					height="43"
					src="./assets/img/advantage-1.png"
					alt="Proved Reputation"
					class="advantage-item__img"
				/>
				<div class="advantage-item__info">
					<div class="advantage-item__title">Proved Reputation</div>
					<div class="advantage-item__subtitle text-red">
						world famous brand
					</div>
				</div>
			</div>
			<div class="advantage-item">
				<img
					width="43"
					height="43"
					src="./assets/img/advantage-2.png"
					alt="Lowest Prices"
					class="advantage-item__img"
				/>
				<div class="advantage-item__info">
					<div class="advantage-item__title">Lowest Prices</div>
					<div class="advantage-item__subtitle text-red">Affordable offers</div>
				</div>
			</div>
			<div class="advantage-item">
				<img
					width="66"
					height="43"
					src="./assets/img/advantage-3.png"
					alt="Fast Delivery"
					class="advantage-item__img"
				/>
				<div class="advantage-item__info">
					<div class="advantage-item__title">Fast Delivery</div>
					<div class="advantage-item__subtitle text-red">
						world famous brand
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
