.hero {
	background: linear-gradient(180deg, #f4f4f4 0%, #e2e2e2 100%);
}

//
.page-hero {
	padding: 40px 0;

	position: relative;

	.hero__top {
		margin: 0 auto;
		position: relative;

		&::after {
			content: "";
			position: absolute;

			bottom: -40px;
			right: -230px;
			width: 237px;
			height: 227px;
			background: url("../img/page-girl.png") no-repeat center/cover;
		}
	}
}

.hero {
	&__top {
		max-width: 846px;
		padding: 0 20px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding-right: 70px;
		margin-bottom: 40px;
		@media screen and (max-width: 992px) {
			padding-right: 20px;
		}
	}

	&__logo {
		position: relative;
		z-index: 1;
		@media screen and (max-width: 768px) {
			width: 284px;
			height: 50px;
		}
		@media screen and (max-width: 375px) {
			width: 268px;
			height: 47px;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 4px;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__link {
		display: block;
		padding: 10px 34px;
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		text-transform: uppercase;
		background: linear-gradient(211deg, #e25f32 39.04%, #d34e20 100%);
		border-radius: 40px;
		text-decoration: none;
		color: #fff;
		transition: scale 100ms ease-in-out;
		@include hover {
			scale: 0.97;
		}
	}

	&__bot {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
		max-width: 836px;
		padding: 0 15px;
		margin: 0 auto;
		@media screen and (max-width: 441px) {
			flex-direction: column;
			align-items: flex-start;
			width: max-content;
		}
	}
}

//
