@mixin transition($properties...) {
	$transitionList: ();

	@each $property in $properties {
		@if $property != null {
			$transitionList: append(
				$transitionList,
				unquote("#{$property} 300ms ease-in-out"),
				comma
			);
		}
	}

	transition: $transitionList;
}

@mixin hover {
	@media (any-hover: hover) and (pointer: fine) {
		&:hover {
			@content;
		}
	}
}

@mixin breakpoint($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
		@media screen and (max-width: $breakpoint-value) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin text-shorten($numLines: 1) {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	@supports (-webkit-line-clamp: $numLines) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: initial;
		display: -webkit-box;
		-webkit-line-clamp: $numLines;
		-webkit-box-orient: vertical;
	}
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
